.center {
	text-align: center;
	display: block;
	margin: 0px auto;
}

.status {
	width: 100%;
}

.element {
	padding: 10px;
}

.logo {
	position: absolute;
	left: 5%;
	height: 90%;
	top:2px;
}

.header-text {
	position: absolute;
	top: 25px;
	left: 25%;
}

.header {
	position: relative;
	height: 50px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

.button-holder {
	width: 50%;
}

th, td {
	padding: 1%;
}

.content {
	margin-top: 5%;
	width: 80%;
	background-color: #FFF;
	border-radius: 10px;
	opacity: 0.8;
	position: absolute;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10%;
	margin-bottom: 200px;
}

body {
	background-image: url("finish.jpg");
	background-size: 100%;
}

.credit-bar {
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin-top: 5px;
	font-size: 15px;
	padding-bottom: 50px;
	background-color: black;
	opacity: 0.8;
}

.right {
	text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
	display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button-label {
	position: absolute;
	left: 70px;
	top: 30%;
}
